header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 90px;
    color: rgb(252, 225, 225);
    border-color: white;
    background-color: rosybrown;

}

body {
    background-color: rgb(237, 225, 227);

}

header {
    color: rosybrown;
}